<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
		    
		
		<link th:href="@{/css/login.css}" rel="stylesheet">
		
		
		
		<div class="login-wrapper">
		    <h1>CODEIT</h1>
		    <div class="box">
		        <h2>회원 로그인</h2>
		        <form class="login-form" action="/member/login" method="post">
		            <input type="text" name="loginId" placeholder="아이디" required>
		            <input type="password" name="memberPw" placeholder="비밀번호" required>
		            <div class="login-options">
		                <input type="checkbox" name="rememberId" id="rememberId">
		                <label for="rememberId">아이디 저장</label>
		            </div>
		            <button class="login-btn" type="submit">로그인</button>
		        </form>
		
		        <div class="sns-text">
		            아이디와 비밀번호 입력하기 귀찮으시죠?<br>
		            SNS 아이디로 간편하게 1초 만에 로그인하세요.
		        </div>
		
		        <button class="sns-button kakao-btn">카카오 아이디로 간편 로그인</button>
		        <button class="sns-button naver-btn">네이버 아이디로 간편 로그인</button>
		
		        <div class="bottom-links">
		            <a href="/member/register">회원가입</a>
		            <a href="javascript:void(0)" onclick="openFindIdModal()">아이디 찾기</a>
		            <a href="javascript:void(0)" onclick="openFindPwModal()">비밀번호 찾기</a>
		        </div>
		    </div>
		
		    <!-- 아이디 찾기 모달 -->
			<div id="findIdModal" class="modal-overlay">
			  <div class="modal-box">
			    <h3>아이디 찾기</h3>
			    <input type="text" id="findName" placeholder="이름 입력" class="modal-input" />
			    <input type="email" id="findEmail" placeholder="이메일 입력" class="modal-input" />
			    <button onclick="findId()" class="modal-btn black">아이디 찾기</button>
			    <div id="foundId" class="modal-result"></div>
			    <button onclick="closeFindIdModal()" class="modal-btn">닫기</button>
			  </div>
			</div>
			
			<!-- 비밀번호 찾기 모달 -->
			<div id="findPwModal" class="modal-overlay">
			  <div class="modal-box">
			    <h3>비밀번호 찾기</h3>
			    <input type="text" id="findPwId" placeholder="아이디 입력" class="modal-input" />
			    <input type="email" id="findPwEmail" placeholder="이메일 입력" class="modal-input" />
			    <button onclick="findPw()" class="modal-btn black">임시 비밀번호 전송</button>
			    <div id="pwResult" class="modal-result"></div>
			    <button onclick="closeFindPwModal()" class="modal-btn">닫기</button>
			  </div>
			</div>
		</div>
		
		<script th:src="@{/js/login.js}"></script>
		
		
		<script th:inline="javascript">
		/*<![CDATA[*/
		let msg = /*[[${msg}]]*/ null;
		if (msg) alert(msg);
		/*]]>*/
		</script>
    </th:block>
</th:block>
