<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">


<div class="container">
  <!-- 좌측 메뉴 -->
  <div class="sidebar">
    <h2>CODEIT</h2>
    <ul>
      <li><strong>내 서재</strong></li>
      <li><a th:href="@{/book/wishList}" style="color: #333; text-decoration: none;">
      		- 위시리스트</a></li>
      <li><a th:href="@{/book/rentList}" style="color: #333; text-decoration: none;">
      		- 대여 목록</a></li>
    </ul>
    <ul>
      <li><strong>개인</strong></li>
      <li>
      	<a th:href="@{/member/modify(memberId=${member.memberId})}" style="color: #333; text-decoration: none;">
      		- 내 정보 관리</a>
      </li>
      <li>- 1:1 문의</li>
    </ul>
    <ul>
      <li><strong>결제내역</strong></li>
      <li>- 포인트</li>
      <li>- 쿠폰</li>
    </ul>
    <ul>
      <li><strong> 테스트</strong></li>
      <li>-</li>
      <li>-</li>
    </ul>
  </div>

  <!-- 우측 메인 -->
  <div class="main">
    <!-- 사용자 카드 -->
    <div class="user-card">
      <div class="user-info">
        <div>
          <strong th:text="${member.loginId}">아이디</strong><br>
          <span class="email" th:text="${member.memberEmail}">이메일</span>
        </div>
        <button th:onclick="'location.href=\'' + @{/member/logout} + '\''">로그아웃</button>
      </div>
      <div class="user-summary">
        <div class="summary-item">
          <strong>포인트</strong>
          <span th:text="${member.points} + ' P'">0p</span>
        </div>
        <div class="summary-item">
          <strong>내 서재</strong>
          <span th:text="${rentCount} + '개'">0개</span>
        </div>
        <div class="summary-item">
          <strong>위시리스트</strong>
          <span th:text="${wishCount} + '개'">0개</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
let msg = /*[[${msg}]]*/ null;
if (msg) alert(msg);
/*]]>*/
</script>
	</th:block>
</th:block>
</body>
</html>
