<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
    
    
    <link th:href="@{/css/register.css}" rel="stylesheet" />



<div class="login-wrapper">
  <h1>CODEIT</h1>
  <div class="box">
    <h2>회원가입</h2>
    <form class="register-form" action="/member/register" method="post">
      <input type="text" name="loginId" id="loginId" placeholder="아이디" required />
      <div id="idMsg" class="msg">&nbsp;</div>

      <input type="password" name="memberPw" id="memberPw" placeholder="비밀번호" required />
      <div id="pwMsg" class="msg">&nbsp;</div>

      <input type="password" id="confirmPw" placeholder="비밀번호 확인" required />
      <div id="confirmMsg" class="msg">&nbsp;</div>

      <input type="text" name="memberName" id="memberName" placeholder="이름" required />
      <div id="nameMsg" class="msg">&nbsp;</div>

      <div class="email-auth-box">
		  <input type="email" id="memberEmail" name="memberEmail" placeholder="이메일" required />
		  <button type="button" id="sendCodeBtn">인증 코드 발송</button>
		</div>
		<div id="emailMsg" class="msg">&nbsp;</div>
		
		<!-- 인증 코드 입력 -->
		<div class="email-code-box" style="display:none;">
		  <input type="text" id="authCode" maxlength="6" placeholder="인증 코드 입력">
		  <button type="button" id="verifyCodeBtn">인증 확인</button>
		  <span id="verifyMessage" class="code-msg"></span>
		</div>	
		
      <!-- 이용약관 체크박스 + 보기 링크 -->
	  <div class="checkbox-group">
	  	<input type="checkbox" name="termsAgreed" value="Y" required>
		<label>이용약관에 동의합니다. <a href="#" id="openTerms" style="color: blue; text-decoration: underline;">[약관 보기]</a></label>
	  </div>
	  
	  <!-- 모달 구조 -->
		<div id="termsModal" class="modal">
		  <div class="modal-content">
		    <span class="close">&times;</span>
		    <h3>이용약관</h3>
		    <div class="terms-text">
		      <p>1. 본 서비스는 회원에게 다양한 기능을 제공합니다.</p>
		      <p>2. 회원은 허위 정보를 입력하거나 타인의 정보를 도용할 수 없습니다.</p>
		      <p>3. 서비스 이용 중 불법 행위가 발생할 경우 계정은 제한될 수 있습니다.</p>
		      <p>4. 운영자는 서비스 개선을 위해 일부 데이터를 활용할 수 있습니다.</p>
		      <p>5. 본 약관은 사전 공지를 통해 변경될 수 있습니다.</p>
		    </div>
		  </div>
		</div>

      <button type="submit" class="register-btn">가입하기</button>
    </form>
  </div>
</div>

<script th:src="@{/js/register.js}"></script>
