<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="withSubHeader(pageContent)">
 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	<link th:href="@{/css/book/main.css}" rel="stylesheet"/>
    
    
    <div class="sub-header">
    	<!-- 결제 선택 모달 -->
	    <!-- <div id="bookPaySelModal" class="modal fade" tabindex="-1" role="dialog"
	    data-backdrop="static" data-keyboard="false" aria-labelledby="modallabel">
	    	<div class="modal-dialog">
	    		<div class="modal-content">
	    			<div class="modal-header">
	    					<button type="button" class="btn-close" data-dismiss="modal"></button>
	      					<h4 class="modal-title" id="modallabel">결제 방식을 선택하세요</h4>
	    			</div>
	    			<div class="modal-boby text-center">
	    				<button class="btn btn-primary" id="bookUserPoint">포인트</button>
	    				<button class="btn btn-primary" id="bookCouponPoint">쿠폰</button>
	    			</div>
	    			<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
	    		</div>
	    	</div>
	    </div> -->
	    
	    <!-- 결제 승인 모달 -->
	    <div id="bookPayConfirmModal" class="modal fade" tabindex="-1" role="dialog"
	    data-backdrop="static" data-keyboard="false" aria-labelledby="modallabel2">
	    	<div class="modal-dialog">
	    		<div class="modal-content">
	    			<div class="modal-header">
	    					<button type="button" class="btn-close" data-dismiss="modal"></button>
	      					<h4 class="modal-title" id="modallabel">결제 확인</h4>
	    			</div>
	    			<div class="modal-boby text-center" id="bookPayment">
	    			</div>
	    			<div class="modal-footer">
	    				<button class="btn btn-success" id="bookPaymentBtn">결제하기</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
	    		</div>
	    	</div>
	    </div>
    </div>
    
    <div class="myContent">
   		<th:block th:replace="${pageContent}"></th:block>
    </div>
    
<script th:inline="javascript">
$(document).ready(function() {
	// 페이지 사이즈 변경
	$("#pageSize").on("change", function() {
		$("#page").val(0);
		$("#searchForm").submit();
	});
	
	let selectBookId = null; 
    let rentBtn = null;       
    let openBtn = '';      
    let bookPoint = 0;        
    let memberPoint = 0;         
	
	// 대여 후 버튼변경
	$(".rentBtn").click(function() {
		rentBtn = $(this);
		selectBookId = rentBtn.data("book-id");
		bookPoint = rentBtn.closest(".book-buttons").find(".point-text span").text();
		openBtn = `<a href="/book/epubRead?bookId=${selectBookId}" class="btn btn-primary read-button">열람하기</a>`;
		
		$.ajax({
            url: "/api/book/getPoint",
            type: "get",
            success: function (rs) {
                memberPoint = rs.points;
                
                if (parseInt(memberPoint) < parseInt(bookPoint)) {
                    alert("포인트가 부족합니다.");
                    return;
                }

                const html = `
                    <p><strong>보유 포인트:</strong> ${memberPoint}P</p>
                    <p><strong>도서 대여 포인트:</strong> ${bookPoint}P</p>
                `;
                $("#bookPayment").html(html);
                $("#bookPayConfirmModal").modal("show");
            },
            error: function (xhr) {
                alert(xhr.responseText || "포인트 조회 실패");
            }
        });
	});
	
	$("#bookPaymentBtn").click(function () {
		$.ajax({
			url: "/api/book/rent",
			type: "post",
			data: {
				bookId: selectBookId
			},
			success: function(rs) {
				alert("대여 완료. 이제부터 열람하실 수 있습니다.");
				rentBtn.hide();
				rentBtn.after(openBtn);
				$("#bookPayConfirmModal").modal("hide");
			},
			error: function(xhr, status, error) {
                var errorMessage = xhr.responseText || '도서 대여 중 오류가 발생했습니다.';
                alert('오류: ' + errorMessage);
            }
		});
		
		
	});
	
	// 찜 후 버튼변경
	$(".wishBtn").click(function() {
		const wishBtn = $(this);
		selectBookId = wishBtn.data("book-id");
		
		var isWished = wishBtn.text() === "♥";
		
		var url = isWished ? "/api/book/removeWish" : "/api/book/addWish";
	    var method = isWished ? "DELETE" : "POST";
		
		$.ajax({
			url: url,
			type: method,
			data: {
				bookId: selectBookId
			},
			success: function(rs) {
				if(isWished) {
					wishBtn.text("♡").removeClass("btn-primary").addClass("btn-outline-primary");
				} else {
					wishBtn.text("♥").removeClass("btn-outline-primary").addClass("btn-primary");
				}
			},
			error: function(xhr, status, error) {
				var errorMessage = xhr.responseText || "알 수 없는 찜 처리 오류"; 
	            alert(errorMessage); 
            }
		});
	});
	
});
</script>
</th:block>
