<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::contentWrapper})}">
	<th:block th:fragment="contentWrapper">
		<div th:replace="~{/book/subheader :: withSubHeader(~{this::myActualPageContent})}">
			<th:block th:fragment="myActualPageContent">
				<div class="container py-4">
				    <div class="container">
				        
				        <hr>
				        <div id="bookListContainer">
				            <div th:each="book : ${wishList}" class="book-item d-flex align-items-start">
				                <img th:src="${book.coverImage}" alt="표지" class="book-cover">
				                <div class="book-info">
				                    <div class="book-title" th:text="${book.title}">도서 제목</div>
				                    <div class="text-muted mb-1">
				                        저자 : <span th:text="${book.author}">저자</span> |
				                        출판사 : <span th:text="${book.publisher}">출판사</span>
				                    </div>
				                    <div class="book-description" th:text="${book.description}">
				                        도서 설명
				                    </div>
				                </div>
				                <div class="book-buttons">
				                	<button th:if="${book.wishedByCurrentUser}" 
				                    		th:data-book-id="${book.bookId}"
				                    		class="btn btn-primary wishBtn">♥</button>
				                    <button th:if="${!book.wishedByCurrentUser}" 
				                    		th:data-book-id="${book.bookId}"
				                    		class="btn btn-outline-primary wishBtn">♡</button>
				                    
				                    <a th:if="${book.rentedByCurrentUser}"
				                       th:href="@{/book/epubRead(bookId=${book.bookId})}" class="btn btn-primary read-button">열람하기</a>
				                    
				                    <button th:if="${!book.rentedByCurrentUser}" 
				                    		th:data-book-id="${book.bookId}"
				                    		class="btn btn-success rentBtn">대여하기</button>
				                    <div class="point-text">필요 포인트 : <span th:text="${book.rentPoint}">요구 포인트</span></div>
				                </div>
				            </div>
				        </div>
				    </div>
				
				    <div class="mt-4 text-center" th:if="${page.totalPages > 1}">
				        <nav>
				            <ul class="pagination justify-content-center">
				                <li class="page-item" th:if="${!page.first}">
				                    <a class="page-link"
				                       th:href="@{/book/wishList(page=0, size=${page.size})}"
				                       tabindex="-1">&lt;&lt;</a>
				                </li>
				                <li class="page-item" th:if="${!page.first}">
				                    <a class="page-link"
				                       th:href="@{/book/wishList(page=${page.number - 1}, size=${page.size})}"
				                       tabindex="-1">&lt;</a>
				                </li>
				                <li th:each="i : ${#numbers.sequence(startPage, endPage)}"
				                    th:classappend="${i} == ${page.number} ? 'active'" class="page-item">
				                    <a class="page-link"
				                       th:href="@{/book/wishList(page=${i}, size=${page.size})}"
				                       th:text="${i + 1}">1</a>
				                </li>
				                <li class="page-item" th:if="${!page.last}">
				                    <a class="page-link"
				                       th:href="@{/book/wishList(page=${page.number + 1}, size=${page.size})}"
				                       tabindex="-1">&gt;</a>
				                </li>
				                <li class="page-item" th:if="${!page.last}">
				                    <a class="page-link"
				                       th:href="@{/book/wishList(page=${page.totalPages - 1}, size=${page.size})}"
				                       tabindex="-1">&gt;&gt;</a>
				                </li>
				            </ul>
				        </nav>
				    </div>
				</div>
			</th:block>
		</div>
	</th:block>
</th:block>
