<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
	<head>
	    <meta charset="UTF-8" />
	    <title>CODEIT 메인</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    
	    <!-- 공통 헤더 전용 -->
	    <link th:href="@{/css/basic.css}" rel="stylesheet" />
	    
	    <!-- codeit 메인 전용 -->
	    <link th:if="${currentUri == '/codeit'}" 
	    	  th:href="@{/css/codeit.css}" rel="stylesheet" />
	    
	    <!-- 마이페이지 전용 -->
	    <link th:if="${currentUri == '/member/mypage'}"
	    	  th:href="@{/css/mypage.css}" rel="stylesheet" />
	    <!-- JQuery 적용 -->
	    <script th:src="@{/jquery/jquery-3.7.1.js}"></script>
	</head>
	<body>
	
	<header>
	    <a th:href="@{/codeit}" class="logo">CODEIT</a>
	    
	    <!-- 로그인하지 않은 경우 -->
	    <div th:if="${session.member == null and session.admin == null}">
	    <nav class="top-menu">
	        <a th:href="@{/member/login}">로그인</a>
	        <a th:href="@{/member/register}">회원가입</a>
	    </nav>
	    </div>
	    
	    <!-- 일반 회원이 로그인한 경우 -->
	    <div th:if="${session.member != null}">
	    	<span th:text="${session.member.memberName}">회원이름</span>님 환영합니다!
	    	<a th:href="@{/member/mypage}">마이페이지</a>
	    	<a th:href="@{/member/logout}">로그아웃</a>
	    </div>
	    
	    <!-- 관리자가 로그인한 경우 -->
	    <div th:if="${session.admin != null}">
	    	<span th:text="${session.admin.adminName}">관리자</span>님 환영합니다!
	    	<a th:href="@{/admin/dashboard}">관리자페이지</a>
	    	<a th:href="@{/admin/logout}">로그아웃</a>
	    </div>
	    
	</header>
	
	<div class="container">
	    <th:block th:replace="${content}"></th:block>
	</div>
	
	</body>
</th:block>
</html>